{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-smsassistent" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-smsassistent" class="form-horizontal">
          <ul class="col-sm-12 nav nav-tabs" id="settings-tabs">
            <li class="active"><a href="#tab-ms" data-toggle="tab">{{ pane_ms }}</a></li>
            <li><a href="#tab-naco" data-toggle="tab">{{ pane_naco }}</a></li>
            <li><a href="#tab-narc" data-toggle="tab">{{ pane_narc }}</a></li>
            <li><a href="#tab-logs" data-toggle="tab">{{ pane_logs }}</a></li>
          </ul>
          <div class="col-sm-12 tab-content">
            <div class="tab-pane active" id="tab-ms">
              <fieldset>
                <legend>{{ text_ms_general }}</legend>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-ms-status">{{ entry_ms_status }}</label>
                  <div class="col-sm-10">
                    <select name="smsassistent_ms_status" id="input-ms-status" class="form-control">
                      {% if smsassistent_ms_status %}
                      <option value="1" selected="selected">{{ text_enabled }}</option>
                      <option value="0">{{ text_disabled }}</option>
                      {% else %}
                      <option value="1">{{ text_enabled }}</option>
                      <option value="0" selected="selected">{{ text_disabled }}</option>
                      {% endif %}
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-ms-api-username">{{ entry_ms_api_username }}</label>
                  <div class="col-sm-10">
                    <input type="text" name="smsassistent_ms_api_username" value="{{ smsassistent_ms_api_username }}" placeholder="{{ entry_ms_api_username }}" id="input-ms-api-username" class="form-control" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-ms-api-password"><span data-toggle="tooltip" title="{{ help_ms_api_password }} https://userarea.sms-assistent.by/api_logs.php">{{ entry_ms_api_password }}</label>
                  <div class="col-sm-10">
                    <input type="text" name="smsassistent_ms_api_password" value="{{ smsassistent_ms_api_password }}" placeholder="{{ entry_ms_api_password }}" id="input-ms-api-password" class="form-control" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-ms-api-token">{{ entry_ms_api_or }} {{ entry_ms_api_token }}</label>
                  <div class="col-sm-10">
                    <input type="text" name="smsassistent_ms_api_token" value="{{ smsassistent_ms_api_token }}" placeholder="{{ entry_ms_api_token }}" id="input-ms-api-token" class="form-control" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-ms-sender-name">{{ entry_ms_sender_name }}</label>
                  <div class="col-sm-10">
                    <input type="text" name="smsassistent_ms_sender_name" value="{{ smsassistent_ms_sender_name }}" placeholder="{{ entry_ms_sender_name }}" id="input-ms-sender-name" class="form-control" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-ms-base-url"><span data-toggle="tooltip" title="{{ help_ms_base_url }} https://userarea.sms-assistent.by/api/v1/">{{ entry_ms_base_url }}</label>
                  <div class="col-sm-10">
                    <input type="text" name="smsassistent_ms_base_url" value="{{ smsassistent_ms_base_url }}" placeholder="{{ entry_ms_base_url }}" id="input-ms-base-url" class="form-control" />
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="tab-pane" id="tab-naco">
              <fieldset>
                <legend>{{ text_naco_order_status }}</legend>
                <div class="form-group">
                  <ul class="col-sm-12 nav nav-tabs">
                    {% for order_status in order_statuses %}
                    <li {{ (order_status.order_status_id == 1) ? 'class="active"' }}><a href="#tab-naco-status-{{ order_status.order_status_id }}" data-toggle="tab">{{ order_status.name }} ({{ order_status.order_status_id }})</a></li>
                    {% endfor %}
                  </ul>
                </div>
              </fieldset>
              <div class="col-sm-12 tab-content">
                {% for order_status in order_statuses %}
                {% set osId = order_status.order_status_id %}
                <div class="tab-pane {{ (osId == 1) ? 'active' }}" id="tab-naco-status-{{ osId }}">
                  <fieldset>
                    <legend>{{ text_naco_customer }}</legend>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="input-naco-customer-status_{{ osId }}">{{ entry_naco_customer_status }}</label>
                      <div class="col-sm-10">
                        <select name="smsassistent_naco_customer_status_{{ osId }}" id="input-naco-customer-status-{{ osId }}" class="form-control">
                          {% if (_context['smsassistent_naco_customer_status_' ~osId]) %}
                          <option value="1" selected="selected">{{ text_enabled }}</option>
                          <option value="0">{{ text_disabled }}</option>
                          {% else %}
                          <option value="1">{{ text_enabled }}</option>
                          <option value="0" selected="selected">{{ text_disabled }}</option>
                          {% endif %}
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="input-naco-customer-text-{{ osId }}">{{ entry_naco_customer_text }}</label>
                      <ul class="col-sm-10 nav nav-tabs">
                        <li class="active"><a href="#tab-naco-customer-text-{{ osId }}" data-toggle="tab">{{ pane_naco_sms_text }}</a></li>
                        <li><a href="#tab-naco-customer-template-{{ osId }}" data-toggle="tab">{{ pane_naco_sms_template }}</a></li>
                      </ul>
                      <div class="col-sm-2">
                      </div>
                      <div class="col-sm-10 tab-content">
                        <div class="tab-pane active" id="tab-naco-customer-text-{{ osId }}">
                          <textarea name="smsassistent_naco_customer_text_{{ osId }}" rows="5" placeholder="{{ entry_naco_customer_text }}" id="input-naco-customer-text-{{ osId }}" class="form-control">{{ _context['smsassistent_naco_customer_text_' ~osId] }}</textarea>
                        </div>
                        <div class="tab-pane" id="tab-naco-customer-template-{{ osId }}">
                          <p>{{ pane_naco_sms_template_text }}</p>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                  <fieldset>
                    <legend>{{ text_naco_admin }}</legend>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="input-naco-admin-status-{{ osId }}">{{ entry_naco_admin_status }}</label>
                      <div class="col-sm-10">
                        <select name="smsassistent_naco_admin_status_{{ osId }}" id="input-naco-admin-status-{{ osId }}" class="form-control">
                          {% if (_context['smsassistent_naco_admin_status_' ~osId]) %}
                          <option value="1" selected="selected">{{ text_enabled }}</option>
                          <option value="0">{{ text_disabled }}</option>
                          {% else %}
                          <option value="1">{{ text_enabled }}</option>
                          <option value="0" selected="selected">{{ text_disabled }}</option>
                          {% endif %}
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="input-naco-admin-phones-{{ osId }}"><span data-toggle="tooltip" title="{{ help_naco_admin_phones }}">{{ entry_naco_admin_phones }}</label>
                      <div class="col-sm-10">
                        <input type="text" name="smsassistent_naco_admin_phones_{{ osId }}" value="{{ _context['smsassistent_naco_admin_phones_' ~osId] }}" placeholder="{{ entry_naco_admin_phones }}" id="input-naco-admin-phones-{{ osId }}" class="form-control" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="input-naco-admin-text-{{ osId }}">{{ entry_naco_admin_text }}</label>
                      <ul class="col-sm-10 nav nav-tabs">
                        <li class="active"><a href="#tab-naco-admin-text-{{ osId }}" data-toggle="tab">{{ pane_naco_sms_text }}</a></li>
                        <li><a href="#tab-naco-admin-template-{{ osId }}" data-toggle="tab">{{ pane_naco_sms_template }}</a></li>
                      </ul>
                      <div class="col-sm-2">
                      </div>
                      <div class="col-sm-10 tab-content">
                        <div class="tab-pane active" id="tab-naco-admin-text-{{ osId }}">
                          <textarea name="smsassistent_naco_admin_text_{{ osId }}" rows="5" placeholder="{{ entry_naco_admin_text }}" id="input-naco-admin-text-{{ osId }}" class="form-control">{{ _context['smsassistent_naco_admin_text_' ~osId] }}</textarea>
                        </div>
                        <div class="tab-pane" id="tab-naco-admin-template-{{ osId }}">
                          <p>{{ pane_naco_sms_template_text }}</p>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="tab-pane" id="tab-narc">
              <fieldset>
                <legend>{{ text_narc_customer }}</legend>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-narc-customer-status">{{ entry_narc_customer_status }}</label>
                  <div class="col-sm-10">
                    <select name="smsassistent_narc_customer_status" id="input-narc-customer-status" class="form-control">
                      {% if (smsassistent_narc_customer_status) %}
                      <option value="1" selected="selected">{{ text_enabled }}</option>
                      <option value="0">{{ text_disabled }}</option>
                      {% else %}
                      <option value="1">{{ text_enabled }}</option>
                      <option value="0" selected="selected">{{ text_disabled }}</option>
                      {% endif %}
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-narc-customer-text">{{ entry_narc_customer_text }}</label>
                  <ul class="col-sm-10 nav nav-tabs">
                    <li class="active"><a href="#tab-narc-customer-text" data-toggle="tab">{{ pane_narc_sms_text }}</a></li>
                    <li><a href="#tab-narc-customer-template" data-toggle="tab">{{ pane_narc_sms_template }}</a></li>
                  </ul>
                  <div class="col-sm-2">
                  </div>
                  <div class="col-sm-10 tab-content">
                    <div class="tab-pane active" id="tab-narc-customer-text">
                      <textarea name="smsassistent_narc_customer_text" rows="5" placeholder="{{ entry_narc_customer_text }}" id="input-narc-customer-text" class="form-control">{{ smsassistent_narc_customer_text }}</textarea>
                    </div>
                    <div class="tab-pane" id="tab-narc-customer-template">
                      <p>{{ pane_narc_sms_template_text }}</p>
                    </div>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <legend>{{ text_narc_admin }}</legend>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-narc-admin-status">{{ entry_narc_admin_status }}</label>
                  <div class="col-sm-10">
                    <select name="smsassistent_narc_admin_status" id="input-narc-admin-status" class="form-control">
                      {% if (smsassistent_narc_admin_status) %}
                      <option value="1" selected="selected">{{ text_enabled }}</option>
                      <option value="0">{{ text_disabled }}</option>
                      {% else %}
                      <option value="1">{{ text_enabled }}</option>
                      <option value="0" selected="selected">{{ text_disabled }}</option>
                      {% endif %}
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-narc-admin-phones"><span data-toggle="tooltip" title="{{ help_narc_admin_phones }}">{{ entry_narc_admin_phones }}</label>
                  <div class="col-sm-10">
                    <input type="text" name="smsassistent_narc_admin_phones" value="{{ smsassistent_narc_admin_phones }}" placeholder="{{ entry_narc_admin_phones }}" id="input-narc-admin-phones" class="form-control" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-narc-admin-text">{{ entry_narc_admin_text }}</label>
                  <ul class="col-sm-10 nav nav-tabs">
                    <li class="active"><a href="#tab-narc-admin-text" data-toggle="tab">{{ pane_narc_sms_text }}</a></li>
                    <li><a href="#tab-narc-admin-template" data-toggle="tab">{{ pane_narc_sms_template }}</a></li>
                  </ul>
                  <div class="col-sm-2">
                  </div>
                  <div class="col-sm-10 tab-content">
                    <div class="tab-pane active" id="tab-narc-admin-text">
                      <textarea name="smsassistent_narc_admin_text" rows="5" placeholder="{{ entry_narc_admin_text }}" id="input-narc-admin-text" class="form-control">{{ smsassistent_narc_admin_text }}</textarea>
                    </div>
                    <div class="tab-pane" id="tab-narc-admin-template">
                      <p>{{ pane_narc_sms_template_text }}</p>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="tab-pane" id="tab-logs">
              <fieldset>
                <legend>{{ text_logs }}</legend>
                <div class="form-group">
                  <div class="panel-body">
                    <textarea wrap="off" rows="20" readonly class="form-control">{{ smsassistent_log }}</textarea>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}