{# поле Уведомления->Активен #}
{% set statusId = _context['smsassistent_' ~mod~ '_' ~rec~ '_status_' ~osId] ?: 'disabled' %}
<div class="form-group">
    <div class="row">
        <div class="col-sm-2 text-right">
            <label class="control-label" for="input-{{ mod }}-{{ rec }}-status-{{ osId }}">{{ _context['entry_' ~mod~ '_' ~rec~ '_status'] }}</label>
        </div>
        <div class="col-sm-10">
            <select name="smsassistent_{{ mod }}_{{ rec }}_status_{{ osId }}" id="input-{{ mod }}-{{ rec }}-status-{{ osId }}" class="form-control") onchange="selectOption('{{ mod }}', '{{ rec }}', this.value, {{ osId }})">
                <option value="disabled" {% if (statusId == "disabled") %} selected="selected" {% endif %}>{{ text_disabled }}</option>
                <option value="sms" {% if (statusId == "sms") %} selected="selected" {% endif %}>{{ _context['select_' ~mod~ '_messenger_sms'] }}</option>
                <option value="viber" {% if (statusId == "viber") %} selected="selected" {% endif %}>{{ _context['select_' ~mod~ '_messenger_viber'] }}</option>
            </select>
        </div>
    </div>
</div>
{# блок полей Уведомления #}
<div class="form-group">
    {# скрытые вкладки навигации #}
    <div class="row hidden">
        <div class="col-sm-2 text-right"></div>
        <div class="col-sm-10">
            <ul class="nav nav-tabs ">
                <li {% if (statusId == "disabled") %} class="active" {% endif %}><a class="btn disabled" tabindex="-1" href="#tab-{{ mod }}-{{ rec }}-disabled-{{ osId }}" data-toggle="tab">{{ text_disabled }}</a></li>
                <li {% if (statusId == "sms") %} class="active" {% endif %}><a class="btn disabled" tabindex="-1" href="#tab-{{ mod }}-{{ rec }}-sms-{{ osId }}" data-toggle="tab">{{ _context['select_' ~mod~ '_messenger_sms'] }}</a></li>
                <li {% if (statusId == "viber") %} class="active" {% endif %}><a class="btn disabled" tabindex="-1" href="#tab-{{ mod }}-{{ rec }}-viber-{{ osId }}" data-toggle="tab">{{ _context['select_' ~mod~ '_messenger_viber'] }}</a></li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        {# блок Уведомления->Отключено #}
        <div class="tab-pane {% if (statusId == "disabled") %} active {% endif %}>" id="tab-{{ mod }}-{{ rec }}-disabled-{{ osId }}">
            <div class="row">
                <div class="col-sm-2 text-right"></div>
                <div class="col-sm-10 alert alert-warning" role="alert">
                    {{ _context['entry_' ~mod~ '_' ~rec~ '_text_disabled'] }}
                </div>
            </div>
        </div>
        {# блок Увдомления->SMS #}
        <div class="tab-pane {% if (statusId == "sms") %} active {% endif %}" id="tab-{{ mod }}-{{ rec }}-sms-{{ osId }}">
            {# поле Уведомления->SMS->Отправитель SMS #}
            <div class="row form-group">
                <div class="col-sm-2 text-right">
                    <label class="control-label" for="input-{{ mod }}-{{ rec }}-sender-sms-{{ osId }}"><span data-toggle="tooltip" title="{{ _context['help_' ~mod~ '_sender_name'] }}">{{ _context['entry_' ~mod~ '_sender_sms'] }}</label>
                </div>
                <div class="col-sm-10">
                    <input type="text" name="smsassistent_{{ mod }}_{{ rec }}_sender_sms_{{ osId }}" value="{{ _context['smsassistent_' ~mod~ '_' ~rec~ '_sender_sms_' ~osId] }}" placeholder="{{ _context['entry_' ~mod~ '_sender_sms'] }}" id="input-{{ mod }}-{{ rec }}-sender-sms-{{ osId }}" class="form-control" />
                </div>
            </div>
            {# поле Уведомления->SMS->Номера телефонов #}
            {% if(rec == "admin") %}
            <div class="row form-group">
                <div class="col-sm-2 text-right">
                    <label class="control-label" for="input-{{ mod }}-{{ rec }}-phones-sms-{{ osId }}"><span data-toggle="tooltip" title="{{ _context['help_' ~mod~ '_' ~rec~ '_phones'] }}">{{ _context['entry_' ~mod~ '_' ~rec~ '_phones'] }}</label>
                </div>
                <div class="col-sm-10">
                    <input type="text" name="smsassistent_{{ mod }}_{{ rec }}_phones_sms_{{ osId }}" value="{{ _context['smsassistent_' ~mod~ '_' ~rec~ '_phones_sms_' ~osId] }}" placeholder="{{ _context['entry_' ~mod~ '_' ~rec~ '_phones'] }}" id="input-{{ mod }}-{{ rec }}-phones-sms-{{ osId }}" class="form-control" />
                </div>
            </div>
            {% endif %}
            {# поле Уведомления->SMS->Шаблон SMS сообщения #}
            <div class="row">
                <div class="col-sm-2 text-right">
                    <label class="control-label" for="input-{{ mod }}-{{ rec }}-text-sms-{{ osId }}">{{ _context['entry_' ~mod~ '_text_sms'] }}</label>
                </div>
                <div class="col-sm-10">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-{{ mod }}-{{ rec }}-text-sms-{{ osId }}" data-toggle="tab">{{ _context['pane_' ~mod~ '_sms_text'] }}</a></li>
                        <li><a href="#tab-{{ mod }}-{{ rec }}-template-sms-{{ osId }}" data-toggle="tab">{{ _context['pane_' ~mod~ '_sms_template'] }}</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-{{ mod }}-{{ rec }}-text-sms-{{ osId }}">
                            <textarea name="smsassistent_{{ mod }}_{{ rec }}_text_sms_{{ osId }}" rows="5" placeholder="{{ _context['entry_' ~mod~ '_text_sms'] }}" id="input-{{ mod }}-{{ rec }}-text-sms-{{ osId }}" class="form-control">{{ _context['smsassistent_' ~mod~ '_' ~rec~ '_text_sms_' ~osId] }}</textarea>
                        </div>
                        <div class="tab-pane" id="tab-{{ mod }}-{{ rec }}-template-sms-{{ osId }}">
                            <p>{{ _context['pane_' ~mod~ '_sms_template_text'] }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# блок Уведомления->Viber #}
        <div class="tab-pane {% if (statusId == "viber") %} active {% endif %}" id="tab-{{ mod }}-{{ rec }}-viber-{{ osId }}">
            {# поле Уведомления->Viber->Отправитель Viber #}
            <div class="row form-group">
                <div class="col-sm-2 text-right">
                    <label class="control-label" for="input-{{ mod }}-{{ rec }}-sender-viber-{{ osId }}"><span data-toggle="tooltip" title="{{ _context['help_' ~mod~ '_sender_name'] }}">{{ _context['entry_' ~mod~ '_sender_viber'] }}</label>
                </div>
                <div class="col-sm-10">
                    <input type="text" name="smsassistent_{{ mod }}_{{ rec }}_sender_viber_{{ osId }}" value="{{ _context['smsassistent_' ~mod~ '_' ~rec~ '_sender_viber_' ~osId] }}" placeholder="{{ _context['entry_' ~mod~ '_sender_viber'] }}" id="input-{{ mod }}-{{ rec }}-sender-viber-{{ osId }}" class="form-control" />
                </div>
            </div>
            {# поле Уведомления->Viber->Номера телефонов #}
            {% if(rec == "admin") %}
                <div class="row form-group">
                    <div class="col-sm-2 text-right">
                        <label class="control-label" for="input-{{ mod }}-{{ rec }}-phones-viber-{{ osId }}"><span data-toggle="tooltip" title="{{ _context['help_' ~mod~ '_' ~rec~ '_phones'] }}">{{ _context['entry_' ~mod~ '_' ~rec~ '_phones'] }}</label>
                    </div>
                    <div class="col-sm-10">
                        <input type="text" name="smsassistent_{{ mod }}_{{ rec }}_phones_viber_{{ osId }}" value="{{ _context['smsassistent_' ~mod~ '_' ~rec~ '_phones_viber_' ~osId] }}" placeholder="{{ _context['entry_' ~mod~ '_' ~rec~ '_phones'] }}" id="input-{{ mod }}-{{ rec }}-phones-viber-{{ osId }}" class="form-control" />
                    </div>
                </div>
            {% endif %}
            {# поле Уведомления->Viber->Шаблон Viber сообщения #}
            <div class="row form-group">
                <div class="col-sm-2 text-right">
                    <label class="control-label" for="input-{{ mod }}-{{ rec }}-text-viber-{{ osId }}">{{ _context['entry_' ~mod~ '_text_viber'] }}</label>
                </div>
                <div class="col-sm-10">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-{{ mod }}-{{ rec }}-text-viber-{{ osId }}" data-toggle="tab">{{ _context['pane_' ~mod~ '_viber_text'] }}</a></li>
                        <li><a href="#tab-{{ mod }}-{{ rec }}-template-viber-{{ osId }}" data-toggle="tab">{{ _context['pane_' ~mod~ '_viber_template'] }}</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-{{ mod }}-{{ rec }}-text-viber-{{ osId }}">
                            <textarea name="smsassistent_{{ mod }}_{{ rec }}_text_viber_{{ osId }}" rows="5" placeholder="{{ _context['entry_' ~mod~ '_text_viber'] }}" id="input-{{ mod }}-{{ rec }}-text-viber-{{ osId }}" class="form-control">{{ _context['smsassistent_' ~mod~ '_' ~rec~ '_text_viber_' ~osId] }}</textarea>
                            <div class="alert alert-danger" role="alert">
                                {{ _context['pane_' ~mod~ '_viber_promo_alert'] }}
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-{{ mod }}-{{ rec }}-template-viber-{{ osId }}">
                            <p>{{ _context['pane_' ~mod~ '_sms_template_text'] }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {# поле Уведомления->Viber->Рекламное сообщение #}
            <div class="row form-group">
                <div class="col-sm-2 text-right">
                    <label class="control-label" for="input-{{ mod }}-{{ rec }}-promo-{{ osId }}"><span data-toggle="tooltip" title="{{ _context['help_' ~mod~ '_promo'] }}">{{ _context['entry_' ~mod~ '_promo'] }}</label>
                </div>
                <div class="col-sm-10">
                    <div style="width: 20px; float: left">
                        <input type="checkbox" class="form-check-input position-static" name="smsassistent_{{ mod }}_{{ rec }}_promo_{{ osId }}" {% if (_context['smsassistent_' ~mod~ '_' ~rec~ '_promo_' ~osId] == 1) %} checked {% endif %} value=1 id="input-{{ mod }}-{{ rec }}-promo-{{ osId }}" onclick="visibilityBlock(this,'tab-{{ mod }}-{{ rec }}-promo-{{ osId }}')">
                    </div>
                    <div style="float: left">{{ _context['text_' ~mod~ '_promo'] }}</div>
                </div>
            </div>
            {# блок Уведомления->Viber->Рекламное сообщение #}
            <div {% if (_context['smsassistent_' ~mod~ '_' ~rec~ '_promo_' ~osId] == 0) %} style="display: none" {% endif %} id="tab-{{ mod }}-{{ rec }}-promo-{{ osId }}">
                {# поле Уведомления->Viber->Рекламное сообщение->Ссылка на изображение #}
                <div class="row form-group">
                    <div class="col-sm-2 text-right">
                        <label class="control-label" for="input-{{ mod }}-{{ rec }}-viber-image-{{ osId }}"><span data-toggle="tooltip" title="{{ _context['help_' ~mod~ '_viber_image'] }}">{{ _context['entry_' ~mod~ '_viber_image'] }}</label>
                    </div>
                    <div class="col-sm-10">
                        <input type="text" name="smsassistent_{{ mod }}_{{ rec }}_viber_image_{{ osId }}" value="{{ _context['smsassistent_' ~mod~ '_' ~rec~ '_viber_image_' ~osId] }}" placeholder="{{ _context['placeholder_' ~mod~ '_viber_image'] }}" id="input-{{ mod }}-{{ rec }}-viber-image-{{ osId }}" class="form-control" />
                    </div>
                </div>
                {# поле Уведомления->Viber->Рекламное сообщение->Название кнопки #}
                <div class="row form-group">
                    <div class="col-sm-2 text-right">
                        <label class="control-label" for="input-{{ mod }}-{{ rec }}-viber-button_text-{{ osId }}"><span data-toggle="tooltip" title="{{ _context['help_' ~mod~ '_viber_button_text'] }}">{{ _context['entry_' ~mod~ '_viber_button_text'] }}</label>
                    </div>
                    <div class="col-sm-10">
                        <input type="text" name="smsassistent_{{ mod }}_{{ rec }}_viber_button_text_{{ osId }}" value="{{ _context['smsassistent_' ~mod~ '_' ~rec~ '_viber_button_text_' ~osId] }}" placeholder="{{ _context['entry_' ~mod~ '_viber_button_text'] }}" id="input-{{ mod }}-{{ rec }}-viber-button-text-{{ osId }}" class="form-control" />
                    </div>
                </div>
                {# поле Уведомления->Viber->Рекламное сообщение->Ссылка #}
                <div class="row form-group">
                    <div class="col-sm-2 text-right">
                        <label class="control-label" for="input-{{ mod }}-{{ rec }}-viber-button_url-{{ osId }}"><span data-toggle="tooltip" title="{{ _context['help_' ~mod~ '_viber_button_url'] }}">{{ _context['entry_' ~mod~ '_viber_button_url'] }}</label>
                    </div>
                    <div class="col-sm-10">
                        <input type="text" name="smsassistent_{{ mod }}_{{ rec }}_viber_button_url_{{ osId }}" value="{{ _context['smsassistent_' ~mod~ '_' ~rec~ '_viber_button_url_' ~osId] }}" placeholder="{{ _context['placeholder_' ~mod~ '_viber_button_url'] }}" id="input-{{ mod }}-{{ rec }}-viber-button-url-{{ osId }}" class="form-control" />
                    </div>
                </div>
            </div>
            <hr />
            {# поле Уведомления->Viber->Отправлять SMS #}
            <div class="row form-group">
                <div class="col-sm-2 text-right">
                    <label class="control-label" for="input-{{ mod }}-{{ rec }}-else-sms-{{ osId }}"><span data-toggle="tooltip" title="{{ _context['help_' ~mod~ '_else_sms'] }}">{{ _context['entry_' ~mod~ '_else_sms'] }}</label>
                </div>
                <div class="col-sm-10">
                    <div style="width: 20px; float: left">
                        <input type="checkbox" class="form-check-input position-static" name="smsassistent_{{ mod }}_{{ rec }}_else_sms_{{ osId }}" {% if (_context['smsassistent_' ~mod~ '_' ~rec~ '_else_sms_' ~osId] == 1) %} checked {% endif %} value=1 id="input-{{ mod }}-{{ rec }}-else-sms-{{ osId }}" onclick="visibilityBlock(this,'tab-{{ mod }}-{{ rec }}-else-sms-{{ osId }}')">
                    </div>
                    <div style="float: left">{{ _context['text_' ~mod~ '_else_sms'] }}</div>
                </div>
            </div>
            {# блок Уведомления->Viber->Отправлять SMS #}
            <div {% if (_context['smsassistent_' ~mod~ '_' ~rec~ '_else_sms_' ~osId] == 0) %} style="display: none" {% endif %} id="tab-{{ mod }}-{{ rec }}-else-sms-{{ osId }}">
                {# поле Уведомления->Viber->Отправлять SMS->Отправитель SMS #}
                <div class="row form-group">
                    <div class="col-sm-2 text-right">
                        <label class="control-label" for="input-{{ mod }}-{{ rec }}-sender-else-sms-{{ osId }}"><span data-toggle="tooltip" title="{{ _context['help_' ~mod~ '_sender_name'] }}">{{ _context['entry_' ~mod~ '_sender_sms'] }}</label>
                    </div>
                    <div class="col-sm-10">
                        <input type="text" name="smsassistent_{{ mod }}_{{ rec }}_sender_else_sms_{{ osId }}" value="{{ _context['smsassistent_' ~mod~ '_' ~rec~ '_sender_else_sms_' ~osId] }}" placeholder="{{ _context['entry_' ~mod~ '_sender_sms'] }}" id="input-{{ mod }}-{{ rec }}-sender-else-sms-{{ osId }}" class="form-control" />
                    </div>
                </div>
                {# поле Уведомления->Viber->Отправлять SMS->Шаблон SMS сообщения #}
                <div class="row">
                    <div class="col-sm-2 text-right">
                        <label class="control-label" for="input-{{ mod }}-{{ rec }}-text-else-sms-{{ osId }}">{{ _context['entry_' ~mod~ '_text_sms'] }}</label>
                    </div>
                    <div class="col-sm-10">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab-{{ mod }}-{{ rec }}-text-else-sms-{{ osId }}" data-toggle="tab">{{ _context['pane_' ~mod~ '_sms_text'] }}</a></li>
                            <li><a href="#tab-{{ mod }}-{{ rec }}-template-else-sms-{{ osId }}" data-toggle="tab">{{ _context['pane_' ~mod~ '_sms_template'] }}</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab-{{ mod }}-{{ rec }}-text-else-sms-{{ osId }}">
                                <textarea name="smsassistent_{{ mod }}_{{ rec }}_text_else_sms_{{ osId }}" rows="5" placeholder="{{ _context['entry_' ~mod~ '_text_sms'] }}" id="input-{{ mod }}-{{ rec }}-text-else-sms-{{ osId }}" class="form-control">{{ _context['smsassistent_' ~mod~ '_' ~rec~ '_text_else_sms_' ~osId] }}</textarea>
                            </div>
                            <div class="tab-pane" id="tab-{{ mod }}-{{ rec }}-template-else-sms-{{ osId }}">
                                <p>{{ _context['pane_' ~mod~ '_sms_template_text'] }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>